<div class="sidebar">
    <ul class="sidebar__sidebar">
        <li class="sidebar--strong">
            <p>
                CHO THUÊ XE DU LỊCH
            </p>
        </li>
        <div class="sidebar--list">
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Cho thuê xe 4 chỗ</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Cho thuê xe 7 chỗ</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Cho thuê xe 16 chỗ</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Cho thuê xe 29 chỗ</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Cho thuê xe 45 chỗ</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Cho thuê xe cưới hỏi</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Cho thuê xe theo hợp đồng</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Cho thuê xe theo tháng</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Cho thuê xe đi du lịch</li>
            </a>
        </div>
        <li class="sidebar--strong">
            <p>
                CÁC LOẠI XE CHO THUÊ
            </p>
        </li>
        <div class="sidebar--list">
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">KIA K3</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Honda City</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Mazda</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Toyota Vios</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Sedona</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Fortuner</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Hyundai</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Thaco</li>
            </a>
            <a href="#" class="sidebar--list--link">
                <li class="sidebar--list--item">Hyundai Country</li>
            </a>
        </div>

    </ul>
    <div class="sidebar__datxeInput>
        <div class="sidebar__datxeInput--head">
            <p class="sidebar__datxeInput--strong">ĐẶT XE TẠI ĐÂY</p>
        </div>
        <form>
            <div class="box--datxe">
                <table class="table sidebar__datxeInput--table">
                    <tbody>
                        <tr class="sidebar__datxeInput--table--row">
                            <td class="sidebar__datxeInput--table--row---col1">Họ tên<span>(*)</span></td>
                            <td><input class="form-control" type="text" placeholder="Họ tên" /></td>
                        </tr>
                        <tr class="sidebar__datxeInput--table--row">
                            <td class="sidebar__datxeInput--table--row---col1">Địa chỉ<span>(*)</span></td>
                            <td><input class="form-control" type="text" placeholder="Địa chỉ" /></td>
                        </tr>
                        <tr class="sidebar__datxeInput--table--row">
                            <td class="sidebar__datxeInput--table--row---col1">Điện thoại<span>(*)</span></td>
                            <td><input class="form-control" type="text" placeholder="Điện thoại" /></td>
                        </tr>
                        <tr class="sidebar__datxeInput--table--row">
                            <td class="sidebar__datxeInput--table--row---col1">Email<span>(*)</span></td>
                            <td><input class="form-control" type="text" placeholder="Email" /></td>
                        </tr>
                        <tr class="sidebar__datxeInput--table--row">
                            <td class="sidebar__datxeInput--table--row---col1">Hãng xe<span>(*)</span></td>
                            <td>
                                <select class="form-control" name="hangxe" id="hangxe">
                                    <option value="0">Chọn hãng xe</option>
                                    <option value="Toyota">Toyota</option>
                                    <option value="Huyndai">Huyndai</option>
                                    <option value="Honda">Honda</option>
                                    <option value="Isuzu">Isuzu</option>
                                    <option value="Ford">Ford</option>
                                    <option value="Mercedes">Mercedes</option>

                                </select>
                            </td>
                        </tr>
                        <tr class="sidebar__datxeInput--table--row">
                            <td class="sidebar__datxeInput--table--row---col1">Loại xe<span>(*)</span></td>
                            <td>
                                <select class="form-control" name="loaixe" id="loaixe">
                                    <option value="0">Chọn loại xe</option>
                                    <option value="4-5 chỗ">4-5 chỗ</option>
                                    <option value="7-8 chỗ">7-8 chỗ</option>
                                    <option value="15 chỗ">15 chỗ</option>
                                    <option value="16 chỗ">16 chỗ</option>
                                    <option value="29 chỗ">29 chỗ</option>
                                    <option value="34 chỗ">34 chỗ</option>
                                    <option value="47 chỗ">47 chỗ</option>
                                    <option value="50 chỗ">50 chỗ</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="sidebar__datxeInput--table--row">
                            <td class="sidebar__datxeInput--table--row---col1">Đi từ<span>(*)</span></td>
                            <td><input class="form-control" type="text" placeholder="Đi từ" /></td>
                        </tr>
                        <tr class="sidebar__datxeInput--table--row">
                            <td class="sidebar__datxeInput--table--row---col1">Đến<span>(*)</span></td>
                            <td><input class="form-control" type="text" placeholder="Đến" /></td>
                        </tr>
                        <tr class="sidebar__datxeInput--table--row">
                            <td class="sidebar__datxeInput--table--row---col1">Ngày đi<span>(*)</span></td>
                            <td><input class="form-control" type="text" placeholder="Ngày đi" /></td>
                        </tr>
                        <tr class="sidebar__datxeInput--table--row">
                            <td class="sidebar__datxeInput--table--row---col1">Ngày về<span>(*)</span></td>
                            <td><input class="form-control" type="text" placeholder="Ngày về" /></td>
                        </tr>
                        <tr class="sidebar__datxeInput--table--row">
                            <td colspan="2" class="sidebar__datxeInput--table--row---col1">
                                <label class="yeucaukhac">Yêu cầu khác</label>
                                <textarea class="form-control" placeholder="Yêu cầu khác" rows="4" id="yeucaukhac"></textarea>
                            </td>
                        </tr>
                </table>
                <div class="button__submit" style="text-align:center; padding:5px">
                    <button class="btn btn-danger button__submit--guidi">
                        <i class="fa fa-envelope"></i>
                        Gửi ngay
                    </button>
                </div>

            </div>
            
        </form>
    </div>

</div>
<img style="width:2515px" />
