
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/TinTuc.css" rel="stylesheet" />

<h1 class="hometitle clearfix">
    <span>
        Kiến thức hay
    </span>
</h1>
<div class="list-content list-content-loadmore large m-t-20 clearfix">
    <div class="clearfix item">
        <a href="#" title="a" class="m-t-5 w-240 d-ib thumb left m-r-20">
            <img src="~/Content/img/tintuc1.jpg" alt="a" class="lazy" width="240" height="160" />
        </a>
        <div class="d-ib w-400">
            <h3>
                <a href="#" title="a" class="f-18 title">TOP NHỮNG MẪU XE DU LỊCH GIÁ RẺ NĂM 2021</a>
            </h3>
            <div class="title articletype_1 content-time m-t-10">
                @*<a href="#" title="a" class="box-subcate-style4-namecate">asdasdasdasdasdas</a>*@
                <span class="icon-articletype"></span>
                <span class="time">10/4/2021</span>
                <span class="CommentShow hidden"></span>
            </div>
            <div class="lead">
                Cùng Duy Khang điểm qua những mẫu xe du lịch giá rẻ nhất 2021 và chọn cho mình một mẫu xe phù hợp nhé
            </div>
        </div>
    </div>
    <div class="clearfix item">
        <a href="#" title="a" class="m-t-5 w-240 d-ib thumb left m-r-20">
            <img src="~/Content/img/tinctuc2.jpg" alt="a" class="lazy" width="240" height="160" />
        </a>
        <div class="d-ib w-400">
            <h3>
                <a href="#" title="a" class="f-18 title">TOP NHỮNG MẪU XE MỚI NHẤT CẬP NHẬT NHANH NHẤT NĂM 2021</a>
            </h3>
            <div class="title articletype_1 content-time m-t-10">
                @*<a href="#" title="a" class="box-subcate-style4-namecate">asdasdasdasdasdas</a>*@
                <span class="icon-articletype"></span>
                <span class="time">10/4/2021</span>
                <span class="CommentShow hidden"></span>
            </div>
            <div class="lead">
                Xe ô tô du lịch ngày càng được nhiều người săn đón. Hôm nay hãy cùng Duy Khang tìm hiểu những mẫu xe du lịch được nhiều người mua nhất
            </div>
        </div>
    </div>
</div>
     

