
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/Content/TinTuc.css" />
    <title>Tin Tức</title>
</head>
<body>
    <div class="main">
        <div class="container main__content">
            <div class="main__content--content">
                <h3 class="main__content--content---title">
                    <span>Kiến thức hay</span>
                </h3>
                <div class="main__content--content---tintuc">
                    <div class="main__content--content---tintuc-item row">
                        <div class="col-md-3 col-sm-4">
                            <img src="https://dulichtritai.vn/cache/images/can-nhac-khi-mua-xe-du-lich-346x199.jpg" />
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <div class="main__content--content---tintuc-item__link">
                                <a class="tintuc--link" href="#">TOP NHỮNG MẪU XE DU LỊCH GIÁ RẺ NHẤT VN 2018</a>
                            </div>
                            <div class="main__content--content---tintuc-item__des">
                                <span>Xe ô tô du lịch ngày càng được nhiều người Việt săn đón, sở hữu. Bài viết hôm nay, hãy cùng Trí Tài tìm hiểu top các mẫu xe du lịch mới nhất được nhiều người tìm mua nhất.   </span>
                            </div>
                            <div class="main__content--content---tintuc-item__btnClick">
                                <button class="btn btn-primary">Chi tiết</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="main__content--content---tintuc-item row">
                        <div class="col-md-3 col-sm-4">
                            <img src="https://dulichtritai.vn/cache/images/can-nhac-khi-mua-xe-du-lich-346x199.jpg" />
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <div class="main__content--content---tintuc-item__link">
                                <a class="tintuc--link" href="#">TOP NHỮNG MẪU XE DU LỊCH GIÁ RẺ NHẤT VN 2018</a>
                            </div>
                            <div class="main__content--content---tintuc-item__des">
                                <span>Xe ô tô du lịch ngày càng được nhiều người Việt săn đón, sở hữu. Bài viết hôm nay, hãy cùng Trí Tài tìm hiểu top các mẫu xe du lịch mới nhất được nhiều người tìm mua nhất.   </span>
                            </div>
                            <div class="main__content--content---tintuc-item__btnClick">
                                <button class="btn btn-primary">Chi tiết</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="main__content--content---tintuc-item row">
                        <div class="col-md-3 col-sm-4">
                            <img src="https://dulichtritai.vn/cache/images/can-nhac-khi-mua-xe-du-lich-346x199.jpg" />
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <div class="main__content--content---tintuc-item__link">
                                <a class="tintuc--link" href="#">TOP NHỮNG MẪU XE DU LỊCH GIÁ RẺ NHẤT VN 2018</a>
                            </div>
                            <div class="main__content--content---tintuc-item__des">
                                <span>Xe ô tô du lịch ngày càng được nhiều người Việt săn đón, sở hữu. Bài viết hôm nay, hãy cùng Trí Tài tìm hiểu top các mẫu xe du lịch mới nhất được nhiều người tìm mua nhất.   </span>
                            </div>
                            <div class="main__content--content---tintuc-item__btnClick">
                                <button class="btn btn-primary">Chi tiết</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="main__content--content---tintuc-item row">
                        <div class="col-md-3 col-sm-4">
                            <img src="https://dulichtritai.vn/cache/images/can-nhac-khi-mua-xe-du-lich-346x199.jpg" />
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <div class="main__content--content---tintuc-item__link">
                                <a class="tintuc--link" href="#">TOP NHỮNG MẪU XE DU LỊCH GIÁ RẺ NHẤT VN 2018</a>
                            </div>
                            <div class="main__content--content---tintuc-item__des">
                                <span>Xe ô tô du lịch ngày càng được nhiều người Việt săn đón, sở hữu. Bài viết hôm nay, hãy cùng Trí Tài tìm hiểu top các mẫu xe du lịch mới nhất được nhiều người tìm mua nhất.   </span>
                            </div>
                            <div class="main__content--content---tintuc-item__btnClick">
                                <button class="btn btn-primary">Chi tiết</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            @Html.Partial("_MenuPartialView")
        </div>
    </div>

</body>
</html>

