/****** Object:  Database [THUEXE]    Script Date: 4/22/2021 10:14:38 AM ******/
CREATE DATABASE [THUEXE]   WITH CATALOG_COLLATION = DATABASE_DEFAULT;
GO
/****** Object:  Table [dbo].[BANGBAOGIA]    Script Date: 4/22/2021 10:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGBAOGIA](
	[IDBangBG] [int] IDENTITY(1,1) NOT NULL,
	[IDLoaiXe] [int] NULL,
	[GiaTheoGio] [money] NULL,
	[GiaTheoNgay] [money] NULL,
	[KhuyenMai] [money] NULL,
	[TenBangBG] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBangBG] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HIEUXE]    Script Date: 4/22/2021 10:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIEUXE](
	[IDHieuXe] [int] IDENTITY(1,1) NOT NULL,
	[TenHieuXe] [nvarchar](50) NOT NULL,
	[TomTat] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[HinhAnh] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHieuXe] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 4/22/2021 10:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH](
	[IDKhach] [int] IDENTITY(1,1) NOT NULL,
	[TenKhach] [nvarchar](50) NULL,
	[SDT] [varchar](12) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[CMND] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKhach] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIXE]    Script Date: 4/22/2021 10:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXE](
	[IDLoaiXe] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiXe] [nvarchar](50) NOT NULL,
	[TomTat] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[HinhAnh] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLoaiXe] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANHOI]    Script Date: 4/22/2021 10:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANHOI](
	[IDPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[IDKhach] [int] NULL,
	[TieuDe] [nvarchar](50) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[DaXuLy] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhanHoi] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGKE]    Script Date: 4/22/2021 10:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGKE](
	[IDThongKe] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[TongDoanhThu] [money] NULL,
	[TongSoLuotThue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDThongKe] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUE]    Script Date: 4/22/2021 10:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUE](
	[IDThue] [int] IDENTITY(1,1) NOT NULL,
	[IDKhach] [int] NULL,
	[IDBangBG] [int] NULL,
	[IDXe] [int] NULL,
	[NgayTao] [date] NULL,
	[ThoiGianThue] [datetime] NULL,
	[ThoiGianTra] [datetime] NULL,
	[TongTien] [money] NULL,
	[TienDatCoc] [money] NULL,
	[TienConLai] [money] NULL,
	[GhiChu] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDThue] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 4/22/2021 10:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[IDTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NOT NULL,
	[TomTat] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDang] [date] NULL,
	[SoLuotXem] [int] NULL,
	[AnhBia] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTinTuc] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE]    Script Date: 4/22/2021 10:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[IDXe] [int] IDENTITY(1,1) NOT NULL,
	[IDLoaiXe] [int] NULL,
	[IDHieuXe] [int] NULL,
	[TenXe] [varchar](50) NULL,
	[BienSoXe] [char](15) NULL,
	[SoLuotThue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDXe] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEUCAUTHUE]    Script Date: 4/22/2021 10:14:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEUCAUTHUE](
	[IDYeuCau] [int] IDENTITY(1,1) NOT NULL,
	[IDKhach] [int] NULL,
	[IDHieuXe] [int] NULL,
	[IDLoaiXe] [int] NULL,
	[NgayTao] [date] NULL,
	[ThoiGianThue] [datetime] NULL,
	[ThoiGianTra] [datetime] NULL,
	[TongTien] [money] NULL,
	[YeuCauKhac] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDYeuCau] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HIEUXE] ON 

INSERT [dbo].[HIEUXE] ([IDHieuXe], [TenHieuXe], [TomTat], [ChiTiet], [HinhAnh]) VALUES (2, N'Honda', N'Nếu các bạn chưa tìm được nơi cho thuê xe Honda City uy tín, giá rẻ nhất thì hãy nhanh tay gọi đến số 0971.100.700 của Trí Tài để được tư vấn miễn phí.', N'sdasnfkasn Nếu các bạn chưa tìm được nơi cho thuê xe Honda City uy tín, giá rẻ nhất thì hãy nhanh tay gọi đến số 0971.100.700 của Trí Tài để được tư vấn miễn phí.', NULL)
INSERT [dbo].[HIEUXE] ([IDHieuXe], [TenHieuXe], [TomTat], [ChiTiet], [HinhAnh]) VALUES (3, N'Mazda', N'Công ty TNHH dịch vụ du lịch Trí Tài là đơn vị cho thuê  Mazda giá rẻ tại TP. Hồ Chí Minh  uy tín nhất, để biết chi tiết hãy gọi ngay 0971.100.700', N'dsd Công ty TNHH dịch vụ du lịch Trí Tài là đơn vị cho thuê  Mazda giá rẻ tại TP. Hồ Chí Minh  uy tín nhất, để biết chi tiết hãy gọi ngay 0971.100.700', NULL)
SET IDENTITY_INSERT [dbo].[HIEUXE] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIXE] ON 

SET IDENTITY_INSERT [dbo].[LOAIXE] OFF
GO
ALTER TABLE [dbo].[BANGBAOGIA]  WITH CHECK ADD FOREIGN KEY([IDLoaiXe])
REFERENCES [dbo].[LOAIXE] ([IDLoaiXe])
GO
ALTER TABLE [dbo].[PHANHOI]  WITH CHECK ADD FOREIGN KEY([IDKhach])
REFERENCES [dbo].[KHACH] ([IDKhach])
GO
ALTER TABLE [dbo].[THUE]  WITH CHECK ADD FOREIGN KEY([IDBangBG])
REFERENCES [dbo].[BANGBAOGIA] ([IDBangBG])
GO
ALTER TABLE [dbo].[THUE]  WITH CHECK ADD FOREIGN KEY([IDKhach])
REFERENCES [dbo].[KHACH] ([IDKhach])
GO
ALTER TABLE [dbo].[THUE]  WITH CHECK ADD FOREIGN KEY([IDXe])
REFERENCES [dbo].[XE] ([IDXe])
GO
ALTER TABLE [dbo].[XE]  WITH CHECK ADD FOREIGN KEY([IDHieuXe])
REFERENCES [dbo].[HIEUXE] ([IDHieuXe])
GO
ALTER TABLE [dbo].[XE]  WITH CHECK ADD FOREIGN KEY([IDLoaiXe])
REFERENCES [dbo].[LOAIXE] ([IDLoaiXe])
GO
ALTER TABLE [dbo].[YEUCAUTHUE]  WITH CHECK ADD FOREIGN KEY([IDHieuXe])
REFERENCES [dbo].[HIEUXE] ([IDHieuXe])
GO
ALTER TABLE [dbo].[YEUCAUTHUE]  WITH CHECK ADD FOREIGN KEY([IDKhach])
REFERENCES [dbo].[KHACH] ([IDKhach])
GO
ALTER TABLE [dbo].[YEUCAUTHUE]  WITH CHECK ADD FOREIGN KEY([IDLoaiXe])
REFERENCES [dbo].[LOAIXE] ([IDLoaiXe])
GO
