* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title {
    font-size: 1.4rem;
    font-weight: bolder;
}
.content__form .f-group{
    display:flex;
}
.content__form .f-group label {
    
    min-width:15%;
    max-width:18%;
    padding-top: 5px;
}
.area-button {
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
    
}
.area-button button{
    min-width:150px;
}
.area-button .huybo{
    margin-left:50px;
    
}

