.main {
    margin-top: 10px !important;
}
.main__content {
    padding: 10px;
    background: #fff;
}
.main__content--content {
    display: block;
    float: left;
    min-height: 1px;
    padding-left: 0;
    position: relative;
    width: 76.5%;
}
.main__content--content---title {
    border-bottom: 1px solid #e3b83d;
    overflow: hidden;
    padding: 7px 0;
}
.main__content--content---title span{
    background: #e3b83d;
    padding: 10px;
    color: #000;
    font-weight:750;
    font-size:2rem;
}
.main__content--content---products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none;
    clear: both;
}
.aProduct {
    margin-bottom: 30px;
}
.aProduct--item {
    border: 1px solid #eee;
}
.aProduct--item img {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    height: 18rem;
}
.aProduct--item h4{
    padding: .5em 0;
    margin: 0;
    font-size: 1.6rem;
    font-weight:750;
}
.aProduct--item p{
    font-size: 1.5rem;
    min-height: 108px;
    max-height: 108px;
    overflow: hidden;
}
.card-body{
    padding:10px;
}
.card-body a {
    width: 100%;
    height: 40px;
    display: grid;
    align-items: center;
    color: black;
    font-weight: bold;
    background-color: #fc9f40;
    border: none;
    transition: 0.5s;
}
.card-body a:hover {
    background-color: black;
}

/*TIN TỨC*/
.card--tinTuc{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.card-body--tinTuc{
    margin-left: 20px;
}
.card-title--tinTuc{
    font-size: 2.5rem;
}

/*TESTIMONIAL SECTION*/
.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}

#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}

#customers-testimonials .item {
    text-align: center;
    padding: 50px;
    margin-bottom: 80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

    #customers-testimonials.owl-carousel .owl-dots .owl-dot {
        display: inline-block;
    }

        #customers-testimonials.owl-carousel .owl-dots .owl-dot span {
            background: #3190E7;
            display: inline-block;
            height: 20px;
            margin: 0 2px 5px;
            transform: translate3d(0px, -50%, 0px) scale(0.3);
            transform-origin: 50% 50% 0;
            transition: all 250ms ease-out 0s;
            width: 20px;
        }

/**TIN TỨC HOME*/
.main__content--content---tintuc-item {
    padding: 10px 0;
}
.main__content--content---tintuc-item img{
    width:100%;
    overflow:hidden;
}
.main__content--content---tintuc-item__link {
    font-size: 1.7rem;
    font-weight: 750;
    line-height: normal;
    text-transform: uppercase;
    color: #273986;
}
.main__content--content---tintuc-item__link a:hover{
    color:#e3b83d;
}
.main__content--content---tintuc-item__des{
    margin-top:5px;
    margin-bottom:5px;
}
.main__content--content---tintuc-item__des span{
    color:#555555;
    font-size:1.5rem;
}
.main__content--content---tintuc-item__btnClick button:hover {
    background-color: #265a88;
    background-position: 0 -15px;
}
hr{
    margin-top:10px !important;
    margin-bottom: 10px !important;
}
