.main {
    margin-top: 10px !important;
}

.main__content {
    padding: 10px;
    background: #fff;
}

.main__content--content {
    display: block;
    float: left;
    min-height: 1px;
    padding-left: 0;
    position: relative;
    width: 76.5%;
}

.main__content--content---title {
    border-bottom: 1px solid #e3b83d;
    overflow: hidden;
    padding: 7px 0;
}

    .main__content--content---title span {
        background: #e3b83d;
        padding: 10px;
        color: #000;
        font-weight: 750;
        font-size: 2rem;
    }

/**LIen he*/
.main__content--content---lienhe{
    margin-top:20px;
}
.form-group {
    margin-bottom: 15px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.main__content--content---lienhe label{
    padding-top:7px;
}
.lienhe-right p{
    color:#555555;
    font-size:1.4rem;
    

}
.lienhe-right{
    justify-content:center;
}
