* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
html{
    font-size:62.5%;

}
body {
    background: #9c0808;
}
p{
    font-size:1.6rem;
    
}

/* Set padding to keep content from hitting the edges */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
nav ul {
    margin-bottom: 0 !important;
}


/* FOOTER*/
/*Footer Left*/
footer {
    background: #222;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #f1c40f;
}

footer p{
    font-size: 1.4rem;
    text-align: left;
}
.footer__left {
    width: 35%;
    float: left;
    margin-left: 12px;
}
.footer--strong{
    color:white;
    font-size:1.7rem;
    text-align:left;
    
}
.footer__left--item{
    margin-top: 25px;
    margin-bottom: 25px;
}
.item--web{
    margin-bottom:10px;
}
.item--icon{
    text-decoration:none;
    font-size: 3rem;
    color: white;
    margin-top:5px;
    float:left;
    margin-right: 10px;
}
.item--icon:hover{
    color:rgba(255, 255, 255, 0.7);
}
/*LINE*/
/*Footer center*/
.footer__center {
    width: 35%;
    float: left;
    margin-left: 5px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    
}
.footer__center--top, .footer__center--bot{
    padding:10px;
    font-size:1.5rem;
    list-style:none;
    list-style-type:none;
    
}
.footer__center--item {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
    padding: 7px 10px 7px 0;
    float:left;
    width:49%;
}
.footer__center--item a{
    text-decoration:none;
    color:#f1c40f;
}
.footer__center--item--clearFloat {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
    padding: 7px 10px 7px 0;
    width: 49%;
    
}
.footer__center--item--clearFloat a{
    text-decoration: none;
    color: #f1c40f;
}

/*Footer Right*/
.footer__right{
    width:26%;
    float:left;
    margin-left:20px;
    margin-top: 40px;
}

/**SIDEBAR*/
.sidebar{
    display:block;
    width:22.5%;
    float:right;
}
.sidebar__sidebar {
    list-style: none;
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;
    color: #474747;
    font-size: 13px;
}
.sidebar--strong {
    border-bottom: 3px solid #243F60;
    background: #E3B83D;
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 17px;
    margin: 0;
}
.sidebar--strong p {
    padding-top:12px;
    padding-left:12px;
}
.sidebar--list {
    padding: 0;
    background: #eeefef;
    border: 1px solid #c9c9c9;
    border-top: 0;
}
.sidebar--list--link {
    background: url(/Content/img/smallicon.png) left 5px center no-repeat rgba(0,0,0,0);
    border-bottom: 1px dotted #c9c9c9;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 1.4rem;
    line-height: 40px;
    padding-left: 20px;
}
.sidebar--list--link:hover{
    color:#e87d16;
    text-decoration:none;
}
.sidebar--list--item {
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    padding:5px;
}

/**SIDEBAR__ĐẶT XE INPUT*/
.sidebar__datxeInput{
    display: block;
}
.sidebar__datxeInput--strong {
    padding-top: 12px;
    padding-left: 12px;
    border-bottom: 3px solid #243F60;
    background: #E3B83D;
    color: #000;
    font-weight: 700;
    line-height: 17px;
    margin: 0;
    padding-bottom:10px;
}
.sidebar__datxeInput--table {
    border: 1px solid #ddd;
}
.sidebar__datxeInput--table--row {
    background-color: #f9f9f9;
}
.sidebar__datxeInput--table--row---col1{
    width:35%;
    font-size:1.3rem;
    font-weight:750;
}
.sidebar__datxeInput--table--row td {
    padding: 2px;
    border: 1px solid #ddd;
}
.sidebar__datxeInput--table--row input {
    padding: 6px;
    border: 1px solid #ccc;
    background: #fff;
    
}
.sidebar__datxeInput--table--row---col1 span {
    color:red;
}
.yeucaukhac{
    font-size:1.1rem;
}
#yeucaukhac {
    padding: 6px;
    border: 1px solid #ccc;
    background: #fff;
    resize: none;
    height:auto;
    width:100%;
}
.box--datxe {
    background: #eeefef none repeat scroll 0 0;
    border: 1px solid #c9c9c9;
    padding: 3px;
}


