.main {
    margin-top: 10px !important;
}

.main__content {
    padding: 10px;
    background: #fff;
}

.main__content--content {
    display: block;
    float: left;
    min-height: 1px;
    padding-left: 0;
    position: relative;
    width: 76.5%;
}
.main__content--content---title {
    border-bottom: 1px solid #e3b83d;
    overflow: hidden;
    padding: 7px 0;
}
.main__content--content---title span {
    background: #e3b83d;
    padding: 10px;
    color: #000;
    font-weight: 750;
    font-size: 2rem;
}
.main__content--content---chitiet{

}
.main__content--content---chitiet img{
    width:70%;
    height:180px;
}
.main__content--content---chitiet tr{
    background-color: #f9f9f9;

}
.main__content--content---chitiet td{
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;

}
.main__content--content---chitiet a{
    font-size:1.4rem;
    color:#337AB7;
}
.main__content--content---chitiet a:hover{
    color:#ff9d43
}
.main__content--content---chitiet-details{
    margin-top:10px;
}
.details-title{
    border-bottom: 1px solid #ddd;
}
.details-title span{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    padding:10px 15px;
    font-size:1.6rem;
}
.details-title h4{
    margin-bottom:7px;
}
.details-noidung{
    
    margin-top:20px;
}
.details-noidung--title {
    font-size: 2.2rem;
    text-align: center;
}
.details-noidung-mota img{
    width:85%;
    height:480px;
}
  

