
@{
    ViewBag.Title = "ChiTietLoaiXe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Chitietyeucauthue.css" />
    <title>ChiTietLoaiXe</title>
</head>
<body>
    <div class="b-content">
        <div class="thongtinyeucauthue">
            <p class="title">
                <span>
                    THÔNG TIN LOẠI XE
                </span>
            </p>
            <div class="content__form">
                <form>
                    <div class="form-group f-group">
                        <label for="">Mã loại xe</label>
                        <input type="text" name="" id="" class="form-control" placeholder="">
                    </div>
                    <div class="form-group f-group">
                        <label for="">Loại xe</label>
                        <input type="text" name="" id="" class="form-control" placeholder="">
                    </div>
                </form>

            </div>
        </div>


    </div>
    <div class="area-button">
        <button class="btn btn-success xacnhan" type="submit">Lưu thay đổi</button>
        <button class="btn btn-danger huybo" type="submit">Xóa xe</button>

    </div>


    </div>
</body>
</html>

