
@{
    ViewBag.Title = "Hiệu xe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/yeucauthue.css" />
    <title>Quản lý loại xe</title>
</head>
<body>
    <div class="b-content">
        <p class="title">
            <span>
                QUẢN LÝ HIỆU XE
            </span>
            @Html.ActionLink("Thêm hiệu xe", "ThemHieuXe", "QuanLyHieuXe", null, new { @class = "btn btn-secondary" })
        </p>
        <div class="bang">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã hiệu xe</th>
                        <th>Hiệu xe</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hieuXe in ViewBag.dsHieuXe)
                    {
                        <tr>
                            <td scope="row">@hieuXe.IDHieuXe</td>
                            <td>@hieuXe.TenHieuXe</td>
                            <td class="cot-btn">
                                <button class="btn btn-secondary">
                                    @Html.ActionLink("Xem chi tiết", "ChiTietHieuXe", "QuanLyHieuXe", new { idHieuXe = hieuXe.IDHieuXe }, null)
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>


    </div>
</body>
</html>


