
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/Content/ChinhSachDoiTra.css" />
    <title>a</title>
</head>
<body>
    <div class="main">
        <div class="container main__content">
            <div class="main__content--content">
                <h3 class="main__content--content---title">
                    <span>Chính sách đổi trả và hoàn tiền</span>
                </h3>
                <div class="main__content--content---date">
                    <div class="main__content--content---date-item">
                        <i class="fa fa-clock"></i>
                        <span>Thứ 7 | 17/4/2021 - </span>
                        <i class="fa fa-eye"></i>
                        <span>Lượt xem: 1000</span>
                    </div>
                </div>
                <div class="main__content--content---hinhdoitra" style="text-align:center;margin:15px 0">
                    <img src="https://dulichtritai.vn/images/tin-tuc/chinh-sach-doi-tra-va-hoan-tien.jpg" />
                </div>
                <p style="font-size:1.8rem">
                    <strong style="text-decoration:underline">1. QUY ĐỊNH ĐỔI HÀNG</strong>
                </p>
                <p style="color:#555555">• Đổi hàng ( xe thuê ) ngay trước khi nhận xe nếu khách hàng cảm thấy nhu cầu vừa đặt chưa được đáp ứng</p>
                <p style="color:#555555">• Khi vừa đặt xe xong mà muốn đổi, vui lòng báo cho tổng đài 0703114632 biết ngay trước khi nhận xe hoặc qua thông tin phía dưới:</p>
                <ul class="main__content--content---ul">
                    <li>Hotline: 0703114632</li>
                    <li>Địa chỉ: 828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. Hồ Chí Minh</li>
                    <li>Email: phannguyenminhphat1@gmail.com</li>
                </ul>
                <br />
                <p>
                    <strong style="text-decoration:underline">Điều kiện được đổi hàng</strong>
                </p>
                <ul class="main__content--content---ul">
                    <li>Chỉ vừa đặt xe, chưa nhận xe thuê</li>
                    <li>Đổi qua xe thuê khác cùng loại hoặc lớn hơn.</li>
                    <li>Khi đổi xe phải thanh toán theo quy định đã thõa thuận trước.</li>
                    <li>Không giải quyết đối với trường hợp đổi chậm, xe thuê đã sử dụng.</li>
                </ul>
                <p style="font-size:1.8rem">
                    <strong style="text-decoration:underline">2. QUY ĐỊNH TRẢ HÀNG</strong>
                </p>
                <ul class="main__content--content---ul">
                    <li>Khách có quyền hủy đơn hàng với điều kiện chỉ mới đặt, chưa chốt và chưa cọc/ thanh toán</li>
                    <li>Trường hợp đã cọc, khách chịu phí từ 20% giá trị hợp đồng</li>
                    <li>Lưu ý: Đối với sản phẩm khách hàng đặt theo yêu cầu, hàng thanh lý giảm giá 50%, sản phẩm đã</li>
                </ul>
                <p>
                    <strong style="text-decoration:underline">Dịch vụ chăm sóc khách hàng</strong>
                </p>
                <ul class="main__content--content---ul" style="list-style-type:none">
                    <li>Quý khách có thể liên hệ hotline 24/24 cả ngoài giờ làm việc</li>
                    <li>Hotline: 0703114632</li>
                    <li>Địa chỉ: 828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. Hồ Chí Minh</li>
                    <li>Email: phannguyenminhphat1@gmail.com</li>
                </ul>


            </div>
            @Html.Partial("_MenuPartialView")
        </div>
    </div>

</body>
</html>
