@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/ThueXe.css" />
    <title>Thuê xe 4 chỗ</title>
</head>
<body>
    <div class="main">
        <div class="container main__content">
            <div class="main__content--content">
                <h3 class="main__content--content---title">
                    <span>Cho thuê @ViewBag.LoaiXe.TenLoaiXe giá rẻ tại TPHCM</span>
                </h3>
                <div class="main__content--content---chitiet">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="data:image;base64,@System.Convert.ToBase64String(ViewBag.LoaiXe.HinhAnh)" />
                        </div>
                        <div class="col-lg-6">
                            <table class="table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#">Cho thuê xe du lịch</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>@ViewBag.LoaiXe.TomTat</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <form>
                                                <div class="box--datxe" style="width:70%">
                                                    <table class="table sidebar__datxeInput--table">
                                                        <tbody>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td class="sidebar__datxeInput--table--row---col1">Họ tên<span>(*)</span></td>
                                                                <td><input class="form-control" type="text" placeholder="Họ tên" /></td>
                                                            </tr>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td class="sidebar__datxeInput--table--row---col1">Địa chỉ<span>(*)</span></td>
                                                                <td><input class="form-control" type="text" placeholder="Địa chỉ" /></td>
                                                            </tr>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td class="sidebar__datxeInput--table--row---col1">Điện thoại<span>(*)</span></td>
                                                                <td><input class="form-control" type="text" placeholder="Điện thoại" /></td>
                                                            </tr>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td class="sidebar__datxeInput--table--row---col1">Email<span>(*)</span></td>
                                                                <td><input class="form-control" type="text" placeholder="Email" /></td>
                                                            </tr>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td class="sidebar__datxeInput--table--row---col1">Hãng xe<span>(*)</span></td>
                                                                <td>
                                                                    <select class="form-control" name="hangxe" id="hangxe">
                                                                        <option value="0">Chọn hãng xe</option>
                                                                        <option value="Toyota">Toyota</option>
                                                                        <option value="Huyndai">Huyndai</option>
                                                                        <option value="Honda">Honda</option>
                                                                        <option value="Isuzu">Isuzu</option>
                                                                        <option value="Ford">Ford</option>
                                                                        <option value="Mercedes">Mercedes</option>

                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td class="sidebar__datxeInput--table--row---col1">Loại xe<span>(*)</span></td>
                                                                <td>
                                                                    <select class="form-control" name="loaixe" id="loaixe">
                                                                        <option value="0">Chọn loại xe</option>
                                                                        <option value="4-5 chỗ">4-5 chỗ</option>
                                                                        <option value="7-8 chỗ">7-8 chỗ</option>
                                                                        <option value="15 chỗ">15 chỗ</option>
                                                                        <option value="16 chỗ">16 chỗ</option>
                                                                        <option value="29 chỗ">29 chỗ</option>
                                                                        <option value="34 chỗ">34 chỗ</option>
                                                                        <option value="47 chỗ">47 chỗ</option>
                                                                        <option value="50 chỗ">50 chỗ</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td class="sidebar__datxeInput--table--row---col1">Đi từ<span>(*)</span></td>
                                                                <td><input class="form-control" type="text" placeholder="Đi từ" /></td>
                                                            </tr>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td class="sidebar__datxeInput--table--row---col1">Đến<span>(*)</span></td>
                                                                <td><input class="form-control" type="text" placeholder="Đến" /></td>
                                                            </tr>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td class="sidebar__datxeInput--table--row---col1">Ngày đi<span>(*)</span></td>
                                                                <td><input class="form-control" type="text" placeholder="Ngày đi" /></td>
                                                            </tr>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td class="sidebar__datxeInput--table--row---col1">Ngày về<span>(*)</span></td>
                                                                <td><input class="form-control" type="text" placeholder="Ngày về" /></td>
                                                            </tr>
                                                            <tr class="sidebar__datxeInput--table--row">
                                                                <td colspan="2" class="sidebar__datxeInput--table--row---col1">
                                                                    <label class="yeucaukhac">Yêu cầu khác</label>
                                                                    <textarea class="form-control" placeholder="Yêu cầu khác" rows="4" id="yeucaukhac"></textarea>
                                                                </td>
                                                            </tr>
                                                    </table>
                                                    <div class="button__submit" style="text-align:center; padding:5px">
                                                        <button class="btn btn-danger button__submit--guidi">
                                                            <i class="fa fa-envelope"></i>
                                                            Gửi ngay
                                                        </button>
                                                    </div>

                                                </div>

                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12 main__content--content---chitiet-details">
                            <div class="details-title">
                                <h4>
                                    <span>Chi tiết</span>
                                </h4>
                            </div>
                            @Html.Raw(ViewBag.LoaiXe.ChiTiet)
                            @*<div class="details-noidung">
                                <p class="details-noidung--title">
                                    <strong>
                                        CHO THUÊ XE DU LỊCH Ô TÔ 4 CHỖ GIÁ RẺ TPHCM
                                    </strong>
                                </p>
                                <p>
                                    <span>
                                        <strong>Thuê xe ô tô 4 chỗ</strong>
                                    </span>
                                    đang là nhu cầu phổ biến hiện nay. Với sức chứa vừa đủ cùng mức giá phải chăng,
                                    <span style="font-style:italic">
                                        <strong> thuê xe 4 chỗ</strong>
                                    </span>
                                    đang ngày càng được ưa chuộng tại TPHCM nói riêng và trên khắp cả nước nói chung. Vậy hiện nay, địa chỉ cho thuê xe nào đang được nhiều người tin tưởng và lựa chọn nhất? Hãy cùng tìm hiểu câu trả lời qua bài viết dưới đây.
                                </p>
                                <div class="details-noidung-mota">
                                    <h3 style="font-weight:600">1. Bảng giá thuê xe ô tô 4 chỗ</h3>
                                    <h4 style="margin-bottom:20px;margin-top:20px">1.1 Giá cho thuê xe 4 chỗ - có tài xế</h4>
                                    <p>Bảng giá thuê xe 4 chỗ đang là vấn đề được nhiều người quan tâm. Cũng giống như những loại xe khác, giá thuê xe 7 chỗ sẽ được tính theo giờ thuê hoặc theo số km. Hiện nay, giá thuê 1 chiếc xe 7 chỗ cho 8 tiếng đang vào khoảng 1 triệu – 1 triệu 4. Mức giá đi trong nội thành TPHCM sẽ rẻ hơn so với mức giá đi ngoại thành và đi các tỉnh. Ngoài ra, giá thuê ban ngày và ban đêm cũng sẽ có sự chênh lệch. </p>
                                    <p>Nếu bạn thuê theo km, một chiếc xe 4 chỗ cho 100km sẽ có mức giá từ 1.100.000 – 1.500.000 tùy dòng xe và độ mới của xe. Mức giá này có thể tăng khi độ dài quãng đường tăng</p>
                                    <p>1.2 Bảng giá cho thuê xe du lịch 4 chỗ trong 1 ngày</p>
                                    <p>Thay vì <strong>Thuê xe 4 chỗ</strong> theo km, thuê theo giờ cũng là lựa chọn của nhiều người hiện nay. Tương tự với thuê xe theo km, thuê theo giờ cũng tỉ lệ thuận với mức giá của xe. Cụ thể, thời gian thuê càng dài thì mức giá sẽ càng cao và ngược lại.</p>
                                    <p>Hiện nay, tại thị trường TPHCM, mức giá đang rơi vào khoảng 1 triệu – 1 triệu 3 cho 8h thuê xe. Thời gian này sẽ được tính là từ 9h sáng tới 5h chiều. Thời gian buổi tối và buổi đêm mức giá có thể sẽ cao hơn một chút.</p>
                                    <p>Tuy nhiên, nếu bạn thuê xe 24h thì mức giá sẽ rẻ hơn so với thuê 8 tiếng. Tùy loại xe mà mức giá sẽ dao động khác nhau. Hiện mức giá đang rơi vào khoảng 1 triệu 4 – 1 triệu 6 cho ngày thuê xe.</p>
                                    <p style="text-align:center">
                                        <img src="https://dulichtritai.vn/images/cho-thue-xe-du-lich-4-cho.png" />
                                    </p>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_MenuPartialView")
        </div>
    </div>

</body>
</html>
