
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/Content/GioiThieu.css" />
    <title>a</title>
</head>
<body>
    <div class="main">
        <div class="container main__content">
            <div class="main__content--content">
                <h3 class="main__content--content---title">
                    <span>Giới thiệu</span>
                </h3>
                <div class="main__content--content---date">
                    <div class="main__content--content---date-item">
                        <i class="fa fa-clock"></i>
                        <span>Thứ 5 | 15/4/2021 - </span>
                        <i class="fa fa-eye"></i>
                        <span>Lượt xem: 1000</span>
                    </div>

                </div>
                <div class="main__content--content---gioithieu">
                    <p>
                        <strong>DỊCH VỤ THUÊ XE</strong>
                        <br/>
                        <span>Chịu trách nhiệm nội dung: Phan Nguyễn Minh Phát</span>
                        <span>Điện thoại: 0703114632</span>
                        <span>Địa chỉ: 828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. Hồ Chí Minh</span>
                        <span>Email: phannguyenminhphat1@gmail.com</span>
                    </p>
                </div>
                <div class="main__content--content---linhvuc">
                    <p><strong>Lĩnh vực hoạt động</strong></p>
                    <span>Cho thuê xe du lịch 7 chỗ giá rẻ TPHCM - Chuyên cung cấp các dịch vụ cho thuê xe 4-7-16-29-45 chỗ chất lượng cao như thuê xe theo hợp đồng, thuê xe du lịch, thuê xe cưới, thuê xe theo tháng, thuê xe tự lái, đưa đón CBCNV...</span>
                    <p class="hinh-linhvuc">
                        <img src="https://dulichtritai.vn/images/cho-thue-innova.jpg" />
                        <img src="https://dulichtritai.vn/images/cho-thue-xe-du-lich-7-cho-tphcm.jpg" />
                    </p>
                    <span>Với kinh nghiệm hơn 10 năm trong ngành, được đào tạo chuyên nghiệp từ nghiệp vụ đến kỹ năng giao tiếp với khách hàng.</span>
                    <span>Chúng tôi cam kết mang đến cho quý khách những dòng xe đời mới nhất, an toàn tuyệt đối, đầy đủ tiện nghi, nội thất sạch sẽ, thoáng mát với giá cạnh tranh nhất thị trường.</span>
                    <span>Khi cần đóng góp hoặc thắc mắc khiếu nại khi sử dụng dịch vụ của chúng tôi, quý khách có thể liên hệ trực tiếp qua kênh chăm sóc khách hàng : 0703114632 Cho thuê xe ô tô 7 chỗ giá rẻ TPHCM cảm ơn </span>
                </div>
                <div class="main__content--content---icon">
                    <a href="#" class="icon--fb">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#" class="icon--twitter">
                        <i class="fab fa-twitter-square"></i>

                    </a>
                    <a href="#" class="icon--google">
                        <i class="fab fa-google-plus-square"></i>

                    </a>
                    <a href="#" class="icon--email">
                        <i class="fa fa-envelope"></i>

                    </a>
                </div>
            </div>
            @Html.Partial("_MenuPartialView")
        </div>
    </div>

</body>
</html>


